[alias]
	unstage = reset HEAD --
	uncommit = reset HEAD~
	untrack = update-index --assume-unchanged
	track = update-index --no-assume-unchanged
	retrack = update-index --no-assume-unchanged
[push]
	autoSetupRemote = true
[core]
	hooksPath = .githooks
[init]
	defaultBranch = main
[pager]
	branch = false
	diff = false
